<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168268365-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-168268365-1');
  </script>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./static/assets/apple-icon-180x180.png" rel="apple-touch-icon">
  <link href="./static/assets/favicon.ico" rel="icon">


  <title>Add Recipe</title>  

<link href="./static/style.css" rel="stylesheet"></head>

<body>

<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="./" class="navbar-brand">Vegoodies</a>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <img class="img-responsive site-logo" alt="" style="transform: rotate(180deg)" src="/static/assets/images/v-logo.svg">
            Vegoodies
          </a>
        <p>Plant based recipes for every occasion; by Chris & Narnz.</p>
      </div>
      <ul class="nav">
        <li><a href="/" title="">Home</a></li>
        <li><a href="./mains" title="">Mains</a></li>
        <li><a href="./desserts" title="">Desserts</a></li>
        <li><a href="./lunches" title="">Lunches</a></li>
        <li><a href="./snacks" title="">Snacks & Sides</a></li>
        <li><a href="./breakfasts" title="">Breakfasts</a></li>
        <li><a href="./add" title="">Add Recipe</a></li>
      </ul>

      <nav class="nav-footer">
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.instagram.com/vegoodies/" title="">
            <i class="fa fa-instagram"></i>
          </a>
          </a> <small> <a href="https://www.instagram.com/vegoodies" title="Instagram"> © Vegoodies |</a><a href="http://www.mashup-template.com/" title="HTML/CSS Inspiration"> Mashup</a></small></p>
      </nav>  
    </div> 
  </nav>
</header>
<main class="" id="main-collapse">


<div class="row">

  <div class="col-xs-12">
    <div class="section-container-spacer">
      <h1>Add Recipe</h1>
      <p>Please use the form below to submit a new recipe to the website.</p>
    </div>
    <div class="section-container-spacer">
       <form action="submit_form" method="post" class="reveal-content" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6">
<div >
      {% if message %}
    <p class="alert alert-danger" role="alert"> {{ message | safe }}
    {% endif %}
  </div>
              <div class="form-group">
                <h4> Type </h4>
                <select for="type" class="form-control" id="type" name="type" required>
                  <option disabled selected value> -- Enter the meal type -- </option>
                  <option value="mains">Mains</option>
                  <option value="desserts">Desserts</option>
                  <option value="lunches">Lunches</option>
                  <option value="snacks">Snacks & Sides</option>
                  <option value="breakfasts">Breakfasts</option>
                </select>
              </div>

              <div class="form-group">
                <h4> Title </h4>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter the title" required>
              </div>

              <div class="form-group">
                <h4> Overview </h4>
                <textarea class="form-control" rows="2" id="overview" name="overview" required placeholder="Enter a short overview"></textarea>
              </div>

              <div class="form-group">
                <h4> Portions </h4>
                <input type="text" class="form-control" id="portions" name="portions" required placeholder="Enter how many portions this recipe makes">
              </div>

              <div class="form-group">
                <h4> Method </h4>
                <textarea style="white-space: pre-wrap" class="form-control" rows="5" id="method" name="method" required placeholder="Enter the method"></textarea>
              </div>

              <div class="form-group ingredients">
                <h4> Ingredients </h4>
                <textarea class="form-control" rows="5" id="ingredients" name="ingredients" required placeholder="Enter the ingredients"></textarea>
              </div>

              <div class="form-group">
                <h4> Tags </h4>
                <input type="text" class="form-control" id="tags" name="tags" placeholder="Enter tags to catagorise the recipe (optional)">
              </div>

              <div class="form-group">
                <h4> Author </h4>
                <input type="text" class="form-control" id="author" name="author" placeholder="Enter author name (optional)">
              </div>

              <div class="form-group ">
                  <div class="custom-file">
                    <label oninput="filesize(this);" class="custom-file-label" for="image"> <h4>Select image</h4></label> 
                    <input type="file" class="custom-file-input" id="image" name="image" accept="image/*">
                </div>
              </div>

              <button type="submit" class="btn btn-primary btn-lg">Send</button>

            </div>
            <div class="col-md-6">
              <ul class="list-unstyled address-container">
                <li>
                  <span class="fa-icon">
                    <i class="fa fa-at" aria-hidden="true"></i>
                  </span>
                  crhext@gmail.com
                </li>
                <li>
                  <span class="fa-icon">
                    <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                  </span>
                  Sheffield UK
                </li>
              </ul>
              </a>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>


</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});



$("#ingredients").focus(function() {
    if(document.getElementById('ingredients').value === ''){
        document.getElementById('ingredients').value +='• ';
  }
});

$("#ingredients").keyup(function(event){
  var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
        document.getElementById('ingredients').value +='• ';
  }
  var txtval = document.getElementById('ingredients').value;
  if(txtval.substr(txtval.length - 1) == '\n'){
    document.getElementById('ingredients').value = txtval.substring(0,txtval.length - 1);
  }
});

</script>


<script type="text/javascript" src="./static/script.js"></script>
</body>

</html>
